@import "tailwindcss";
@import "@heroui/styles"; 
@import "tw-animate-css";
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

html {
  font-size: 16px;
  zoom: 90%;
  transform: none;
  height: 100%
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --quaternary: var(--quaternary);
  --quaternary-foreground: var(--quaternary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(95.815% 0.00011 271.152);
  --foreground: oklch(21.638% 0.08352 276.853);
  --card: oklch(95.815% 0.00011 271.152);
  --card-foreground: oklch(21.638% 0.08352 276.853);
  --popover: oklch(76.2% 0.12821 248.048);
  --popover-foreground: oklch(21.638% 0.08352 276.853);
  --primary: oklch(21.638% 0.08352 276.853);
  --primary-foreground: oklch(95.815% 0.00011 271.152);
  --secondary: oklch(95.815% 0.00011 271.152);
  --secondary-foreground: oklch(21.638% 0.08352 276.853);
  --terciary: oklch(76.2% 0.12821 248.048);
  --terciary-foreground: lab(55.74% 49.61 -65.06);
  --quaternary: oklch(63.939% 0.205 295.496);
  --quaternary-foreground: oklch(76.2% 0.12821 248.048);
  --muted: oklch(95.815% 0.00011 271.152);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(95.815% 0.00011 271.152);
  --accent-foreground: oklch(21.638% 0.08352 276.853);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(95.815% 0.00011 271.152);
  --input: oklch(95.815% 0.00011 271.152);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(21.638% 0.08352 276.853);
  --sidebar-primary: oklch(21.638% 0.08352 276.853);
  --sidebar-primary-foreground: oklch(95.815% 0.00011 271.152);
  --sidebar-accent: oklch(95.815% 0.00011 271.152);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}
/*12123F o #212133*/
.dark {
  --background: oklch(21.638% 0.08352 276.853);
  --foreground: oklch(95.815% 0.00011 271.152);
  --card: oklch(21.638% 0.08352 276.853);
  --card-foreground: oklch(95.815% 0.00011 271.152);
  --popover: oklch(21.638% 0.08352 276.853);
  --popover-foreground: oklch(95.815% 0.00011 271.152);
  --primary: oklch(95.815% 0.00011 271.152);
  --primary-foreground: oklch(21.638% 0.08352 276.853);
  --secondary: oklch(21.638% 0.08352 276.853);
  --secondary-foreground: oklch(95.815% 0.00011 271.152);
  --terciary: oklch(76.2% 0.12821 248.048);
  --terciary-foreground: lab(55.74% 49.61 -65.06);
  --quaternary: oklch(63.939% 0.205 295.496);
  --quaternary-foreground: #6BB8FF;
  --muted: oklch(21.638% 0.08352 276.853);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(21.638% 0.08352 276.853);
  --accent-foreground: oklch(95.815% 0.00011 271.152);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(21.638% 0.08352 276.853);
  --input: oklch(21.638% 0.08352 276.853);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(80.682% 0.23731 146.87);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(21.638% 0.08352 276.853);
  --sidebar-foreground: oklch(95.815% 0.00011 271.152);
  --sidebar-primary: #6BB8FF;
  --sidebar-primary: oklch(21.638% 0.08352 276.853 / 0.333);
  --sidebar-primary-foreground: oklch(95.815% 0.00011 271.152);
  --sidebar-accent: oklch(21.638% 0.08352 276.853);
  --sidebar-accent-foreground: oklch(95.815% 0.00011 271.152);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

body {
  @apply text-foreground;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {

  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  @media (min-width: 640px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25rem;
    }
  }
  
  @media (min-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .product-grid {
      grid-template-columns: repeat(5, 1fr);
      gap: 1.75rem;
    }
  }
  
  @media (min-width: 1280px) {
    .product-grid {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  
}


@layer utilities {
  .grid-fixed-cols {
    --item-width: 300px;
    --item-gap: 1.25rem;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--item-width));
    gap: var(--item-gap);
    justify-content: center;
  }
  
  .grid-fixed-cols > * {
    width: 100%;
  }
}

@layer components {
  .product-card {
    height: 180px;
    width: 100%;
  }
  
  .product-card-title {
    font-size: 0.875rem;
    font-weight: 700;
  }
  
  .product-card-price {
    font-size: 1rem;
  }
  
  .product-card-button {
    min-width: 70px;
    height: 2rem;
    font-size: 0.75rem;
  }
  
  @media (min-width: 640px) {
    .product-card {
      height: 220px;
    }
    
    .product-card-title {
      font-size: 1rem;
    }
    
    .product-card-button {
      min-width: 80px;
      height: 2.25rem;
      font-size: 0.875rem;
    }
  }
  
  @media (min-width: 768px) {
    .product-card {
      height: 250px;
    }
    
    .product-card-title {
      font-size: 1.125rem;
    }
    
    .product-card-price {
      font-size: 1.125rem;
    }
    
    .product-card-button {
      min-width: 90px;
      height: 2.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .product-card {
      height: 300px;
    }
  }
}

/* Backdrop: cubrir toda la pantalla */
.cl-internal-b3fm6y,
.cl-overlay {
  position: fixed !important;
  inset: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
}

/* Contenedor del modal */
.cl-modal,
.cl-modalContent {
  position: fixed !important;
  inset: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Card (el formulario) */
.cl-card {
  max-width: 420px !important;
  width: 100% !important;
  margin: auto !important;
}


/* Ocultar "Manage account" */
[data-localization-key="userButton.manageAccount"] {
  display: none !important;
}

/* Ocultar "Sign out" nativo */
[data-localization-key="userButton.signOut"] {
  display: none !important;
}

